{% extends 'jobs/base.html' %}
{% load static %}
{% block title %}About | venex btc{% endblock %}
{% block stylesheets %} {% endblock %}
{% block meta_keywords %} about venex ltd {% endblock %}
{% block meta_description %}get to know about venex ltd and cryptos investment {% endblock %}
{% block alert %} 
<script>
    function myFunction()
    {
      alert("get to know about venex ltd and there cryptos investment");
    }
</script>
{% endblock %} 

{% block content %}


<!--passing crypto values-->
<script src="{% static 'assets/js/coingecko-coin-market-ticker-list-widget.js' %}"></script>
<coingecko-coin-market-ticker-list-widget coin-id="bitcoin" currency="usd" locale="en" vce-ready=""></coingecko-coin-market-ticker-list-widget>

<!--passing crypto values ends-->




<div class="bannerContainerinside">
	<div class="bannerinsideInner">
		<h2>About Us</h2>
	</div>
</div>
</div>

<div class="inside_wrap">
	<div class="inside_inner">
		<p>
			At Venex btc and cryptos we believe in the divergence of investments, therefore we work in several areas like Forex, Binary options and stock of the financial market with our team of professional traders each working in its specific area. 
			Since we have been able to achieve consistency over these years of work, we have decided to open our online project so as to offer our beneficial activities to clients worldwide. 
			Always following the risk management rules aimed at consistency in earnings, and the preservation of capital, taking advantage of the best possible opportunities. We believe all investors deserve high-quality investment guidance, regardless of portfolio sizes. 
			Therefore whether you're getting married, having a baby, reaching retirement, or simply going through some other major life event, we are available to help everyone so let us answer your questions and help set you on the path towards your future vision. We aim to make high profit, low risk and quick payoffs. To achieve this, we push the boundaries in foreign exchange &amp; currency trading and also apply new trading strategies to make remarkable profits possible. Venex btc and cryptos, we aspire to always create value for our investors and it is certain that with the help of our company investors can get more benefits. Have you ever asked yourself why currency traders are provided with high liquidity? It is because one of the major benefits of trading currencies is its massive trading volume. We tap into this uniqueness of the forex market and use it to its advantage and at the same time share it with our investors.</p> 
			<br>
		<br>
		<p>
			Our goal is to reduce risks and guarantee a stable income for our investors and reinvestment of assets accrued through all our trading activities. 
			We have a team of experts on board fromdifferent fields like finance, technical, management and analytics and this has empowered our cause of taking this investment platform to a higher level. 
			When you partner with Venex btc and cryptos, your questions will be encouraged and our answers will be straightforward. We will help you understand where and how your money is invested, how your investments are performing, and how much it is costing you. As a bonus, you will have access to expertise and insights that can help you attain your specific goals. It is a joint approach to wealth management that’s all about transparency, responsibility and taking control of your finances. With our experience and safe approach to Forex and stock trading investment, we can manage more capital and offer our investment platform to the public and at the same time guarantee you our continuedcredibility &amp; success in the journey. 
			Great efforts have been put in place to provide our clients with a user friendly interface &amp;an easily understandable profit making investment platform. Do not forget that we would take further steps to make sure everyone gets top quality service. If you have any queries about Venex btc and cryptos services or any questions about Forex and stock trading investment, do not hesitate to get in touch with us and our proficient team will be back to you as quickly as possible.
		</p>

	</div>
</div>

		<div class="contentTopContainer">
			<div class="contentTopInner">
				<h1>Referral <span>Commission</span></h1>
				<p>The 4 level commission is paid everytime deposit is made by your referrals! <br>So refer &amp; earn great referral commissions!</p>
				<div class="ctn-top-part ctn-top-part1">
      <h3>7<span>%</span></h3>
    </div>
				<div  class="ctn-top-part ctn-top-part2">
					<h3 style="font-size: 50px; padding-left:0%">10<span>%</span></h3>
				</div>
			</div>
		</div>

<div class="about_yellow">
	<div class="inside_inner">
		<h3>U.S.A registered company</h3>
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title">Company Certificate</h4>
					</div>
					<div class="modal-body">
						<p><img src=".." alt=""></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


  {% endblock %}
  {% block javascripts %} 
  <script src="/assets/js/default.js"></script>
  <script src="/assets/js/element.js"></script>
  {% endblock %}