{% extends 'jobs/base.html' %}
{% load static %}
{% block title %}venexbtc | Affiliate Program {% endblock %}
{% block stylesheets %} {% endblock %}
{% block meta_keywords %} faq venex ltd {% endblock %}
{% block meta_description %}here are the affiliate programs you need to know. {% endblock %}
{% block alert %}
<script>
    function myFunction()
    {
      alert("Here are our affliate program offer.");
    }
</script>
{% endblock %} 
{% block content %}

<script src="{% static 'assets/js/coingecko-coin-market-ticker-list-widget.js' %}"></script>
<coingecko-coin-market-ticker-list-widget coin-id="bitcoin" currency="usd" locale="en" vce-ready=""></coingecko-coin-market-ticker-list-widget>




<div class="bannerContainerinside">
    <div class="bannerinsideInner">
        <h2>Affiliate Program</h2>
    </div>
</div>
</div>

<div class="inside_wrap">
    <div class="inside_inner">
        <div class="investment_top">We believe there is no better advertisement than satisfied clients. No wonder that majority of our new clients are affiliates from our existing clients. We are proud that our clients like to recommend our financial service to others. Because of this, we are pleased to offer one of the strongest online affiliate programs in the financial service industry, with a high commission rate, customised tools and reports, and timely commission payouts.</div>
        <div class="affiliate-platform affiliate-top-left">
            <h3>Join Affiliate Program</h3>
            <p>Present our project to your friends, family, or any other community and enjoy the financial benefits. You don't even need an active deposit to receive affiliate commission.</p>
        </div>
        <div class="affiliate-platform affiliate-top-right">
            <h3>Representatives Program</h3>
            <p>We have authorised representatives based on turnover. If you are an experienced marketer, or want to work more closely with us, please contact us for further details.</p>
        </div>
    </div>
</div>
<div class="contentTopContainer">
    <div class="contentTopInner">
        <h1>Referral <span>Commission</span></h1>
        <p>The 4 level commission is paid everytime deposit is made by your referrals! So refer &amp; earn great referral commissions!</p>
        <div class="ctn-top-part ctn-top-part1">
      <h3>7<span>%</span></h3>
    </div>
        <div class="ctn-top-part ctn-top-part2">
            <h3 style="font-size: 50px; padding-left:0%">10<span>%</span></h3>
        </div>
        
    </div>
</div>


<div class="contentTopContainer" style="background-color:#111110;">
    <div class="contentTopInner">
        <h1>Representative <span>Commission</span></h1>
        <p>Our representatives earn higher commissions from referrals.<br>Become a representative and earn more! <br>If your turnover is more than $5000 USD, your commissions will be increased to following.</p>
        <div class="ctn-top-part ctn-top-part1">
      <h3>7<span>%</span></h3>
    </div>
<div class="ctn-top-part ctn-top-part2">
            <h3>9<span>%</span></h3>

        </div>
        <div class="ctn-top-part ctn-top-part3">
            <h3>6<span>%</span></h3>
        </div>
        <div class="ctn-top-part ctn-top-part4">
            <h3>4<span>%</span></h3>
        </div>
        <div class="ctn-top-part ctn-top-part5">
            <h3>2<span>%</span></h3>
        </div>
    </div>
</div>  

{% endblock %}

{% block javascripts %} 
  <script src="/assets/js/default.js"></script>
  <script src="/assets/js/element.js"></script>
{% endblock %}