{% extends 'jobs/base.html' %}
{% load static %}
{% block title %}venexbtc | FAQ {% endblock %}
{% block stylesheets %} {% endblock %}
{% block meta_keywords %} faq venex ltd {% endblock %}
{% block meta_description %}here are the frequent asked questions and answer you need to know. {% endblock %}
{% block alert %} 
<script>
    function myFunction()
    {
      alert("here are the most frequent asked questions and answers you need to know.");
    }
</script>
{% endblock %} 

{% block content %}

<script src="{% static 'assets/js/coingecko-coin-market-ticker-list-widget.js' %}"></script>
<coingecko-coin-market-ticker-list-widget coin-id="bitcoin" currency="usd" locale="en" vce-ready=""></coingecko-coin-market-ticker-list-widget>




		</div><div class="bannerContainerinside">
	<div class="bannerinsideInner">
		<h2>FAQ</h2>
	</div>
</div>

<div class="inside_wrap">
	<div class="inside_inner">
		<div class="accordion">
			<dl>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion1" aria-expanded="false" href="{% url 'faq' %}">What is Venex btc and crypto mining?</a> </dt>
				<dd aria-hidden="true" id="accordion1" class="accordion-content accordionItem is-collapsed">
					<p>Venex btc and crypto mining is an investment platform website, which is owned and handled by Venex LTD Investment Solutions. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion2" aria-expanded="false" href="{% url 'faq' %}"> Is Venex btc and crypto mining a registered company? </a> </dt>
				<dd aria-hidden="true" id="accordion2" class="accordion-content accordionItem is-collapsed">
					<p>Yes, Venex btc and crypto mining is registered in New Mexico, U.S.A as "Venex LTD" . </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> What Venex LTD do? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>Venex LTD is professionally involved in the process of cryptocurrency trading and depends its own network of equipment for cloud tech. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> Who controls the investment porfolio? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>Our team of specialist, who have been working in the market of currency exchange for about 10 years and above, controls the investment portfolio. Our experience and connections enable us to right to use a huge variety of local and worldwide assets and offer gains from the most ideal equipment in the globe, these are well-organized for trading on the market for Crypto-Currency trading.</p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}">Where is your company? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>The company is registered in the U.S.A Company Address - 9323 harbor Road, North West, Albuquerque, New Mexico (NM), 87121.</p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> What contact methods do you offer for support? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>We offer 3 methods for contacting our support staff: Live Chat, E-mail, and Mobile Phone Support. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> Do I need to provide any identity or verification documents? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>No, we will never ask you to provide any identifying information or verification documents unless its must. </p>
				</dd>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>Anyone regardless of age, gender and country of residence may become an investor. To do this you need to Register Account and make a deposit in the amount of at least 20 USD. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}">How many accounts can I register? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>You can register as many accounts as you need. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> Can I be registered multiple times with the same IP address? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>Oh sure. You, your family or your friends may have multiple accounts using the same computer and IP address. This will create no issues. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> What deposit methods do you accept? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>We accept deposits via PerfectMoney, Bitcoin, ETH, DogeCoin. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> When registering I am asked to enter a wallet account. What should I use? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>You can add your payment details while signing up or also can add later. You should use the payment option that is best suitable for you. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> What is the minimum amount of deposit? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>The minimum deposit amount is 50 USD. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> What is the maximum deposit amount? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>The maximum deposit is $150,000. Minimum amount for deposit is 50 USD. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> What crypto wallet do you support ? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>We accept any type of crypto wallet as long as it allow you to send and receive crypto. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> Can I change my Payment account in the process of work? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>Yes offcourse, you can do this anytime in your account settings. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> I'm trying to change my Payment address in account settings, but don't get confirmation code via email. </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>Sometimes the letter with confirmation code is received in the Spam folder, check it out. If not, please contact support for the assistance. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}"> How long does it take for my deposit to be credited? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>Our deposit process is fast and instant. Regardless of crypto that needs up to 5 confirmations. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}">When will I see earnings in my account? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>You will see earnings in your account exactly every hour after the time of your first deposit. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}">Are earnings on business days or calendar days? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
				<p>Earnings are 5 days a week for 31 calendar days and 365 days. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}">What are the investment terms Venex LTD offers? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>Venex LTD offers 3.5% to 10% daily. Earnings will generate every 60 minutes, 24 times a day. Deposit is working on an ongoing basis For lifetime. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}">Where can I find instructions how to invest and make money? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>We have prepared a detailed description of all the stages of your work with the project. You can find it in the "Get Started" section. </p>
				</dd>
				<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="{% url 'faq' %}">Can I activate several deposits simultaneously? </a> </dt>
				<dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
					<p>Yes, you can do several deposits simultaneously, remember that every deposit is treated as a separate investment. </p>
				</dd>
				
			</dl>
		</div>
	</div>
</div>


{% endblock %}
  
  {% block javascripts %} 
  <script src="/assets/js/default.js"></script>
  <script src="/assets/js/element.js"></script>
  {% endblock %}